<!DOCTYPE html>
<html>
<head>
    <title>账户设置</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=1366, maximum-scale=1.0"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <link href="../resources/css/jquery-ui-themes.css" type="text/css" rel="stylesheet"/>
    <link href="../resources/css/axure_rp_page.css" type="text/css" rel="stylesheet"/>
    <link href="../resources/data/styles.css" type="text/css" rel="stylesheet"/>
    <link href="../resources/files/zhanghushezhi/styles.css" type="text/css" rel="stylesheet"/>
    <link href="http://cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.css" type="text/css" rel="stylesheet"/>
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <link rel="stylesheet" href="../plugins/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="../css/style.css">
    <script src="../resources/scripts/jquery-1.7.1.min.js"></script>
    <script src="../resources/scripts/jquery-ui-1.8.10.custom.min.js"></script>
    <script src="../resources/scripts/prototypePre.js"></script>
    <script src="../resources/data/document.js"></script>
    <script src="../resources/scripts/prototypePost.js"></script>
    <script src="../resources/files/zhanghushezhi/data.js"></script>

    <script type="text/javascript">
        $axure.utils.getTransparentGifPath = function () {
            return 'resources/images/transparent.gif';
        };
        $axure.utils.getOtherPath = function () {
            return 'resources/Other.html';
        };
        $axure.utils.getReloadPath = function () {
            return 'resources/reload.html';
        };
    </script>
</head>
<body>
<div id="base" class="">

    <div id="u1683" class="ax_default" data-left="0" data-top="119" data-width="1100" data-height="599">

        <div id="u1684" class="ax_default" data-left="0" data-top="119" data-width="1100" data-height="599">

            <div id="u1685" class="ax_default _默认样式">
                <div id="u1685_div" class=""></div>
            </div>
        </div>
    </div>


    <div id="u1687" class="ax_default" data-label="灰色背景">
        <div id="u1687_state0" class="panel_state" data-label="State1" style="">
            <div id="u1687_state0_content" class="panel_state_content">
            </div>
        </div>
    </div>

    <div id="u1688" class="ax_default" data-label="线条">
        <div id="u1688_state0" class="panel_state" data-label="State1" style="">
            <div id="u1688_state0_content" class="panel_state_content">
            </div>
        </div>
    </div>

    <div id="u1689" class="ax_default _默认样式" data-label="页面标题">
        <img id="u1689_img" class="img " src="../resources/images/xitongshouye/u1465.png"/>
        <div id="u1689_text" class="text ">
            <p><span>页面标题</span></p>
        </div>
    </div>

    <div id="u1690" class="ax_default _默认样式" title="刷新">
        <div id="u1690_div" class=""></div>
        <div id="u1690_text" class="text ">
            <p><span>刷新</span></p>
        </div>
    </div>

    <div id="u1691" class="ax_default" data-left="1031" data-top="16" data-width="19" data-height="17">

        <div id="u1692" class="ax_default _默认样式">
            <img id="u1692_img" class="img " src="../resources/images/changyongyuansu/u71.png"/>
        </div>

        <div id="u1693" class="ax_default _默认样式">
            <img id="u1693_img" class="img " src="../resources/images/changyongyuansu/u72.png"/>
        </div>
    </div>

    <div id="u1695" class="ax_default _默认样式">
        <img id="u1695_img" class="img " src="../resources/images/denglujeimian/u1256.png"/>
        <div id="u1695_text" class="text ">
            <p><span>Copyright © 黑马程序员, All Rights Reserved.</span></p>
            <p><span><br></span></p>
        </div>
    </div>

    <div id="u1696" class="ax_default _默认样式">
        <img id="u1696_img" class="img " src="../resources/images/yuanshengbiaodan/u1210.png"/>
        <div id="u1696_text" class="text ">
            <p><span style="color:#F04844;">*</span><span> 用户名：</span></p>
            <p><span style="color:#F04844;">*</span><span> Email：</span></p>
            <p><span style="color:#F04844;">*</span><span> 旧密码：</span></p>
            <p><span style="color:#F04844;">*</span><span> 新密码：</span></p>
            <p><span style="color:#F04844;">*</span><span> 确认密码：</span></p>
        </div>
    </div>

    <div id="u1697" class="ax_default _默认样式">
        <img id="u1697_img" class="img " src="../resources/images/zhanghushezhi/u1697.png"/>
    </div>

    <div id="u1699" class="ax_default _默认样式">
        <img id="u1699_img" class="img " src="../resources/images/zhanghushezhi/u1699.png"/>
        <div id="u1699_text" class="text ">
            <p><span>上传头像</span></p>
        </div>
    </div>

    <div id="u1700" class="ax_default _默认样式">
        <div id="u1700_div" class=""></div>
        <div id="u1700_text" class="text ">
            <p><span>{{loginName}}</span></p>
        </div>
    </div>

    <div id="u1701" class="ax_default _默认样式">
        <div id="u1701_div" class=""></div>
        <div id="u1701_text" class="text ">
            <p><span>8888888@qq.com</span></p>
        </div>
    </div>

    <!--旧密码-->
    <div id="u1702" class="ax_default _默认样式">
        <div id="u1702_div" class="">
            <el-input v-model="oldPassword" placeholder="旧密码" ></el-input>
        </div>
    </div>

    <!--新密码-->
    <div id="u1703" class="ax_default _默认样式">
        <div id="u1703_div" class="">
            <el-input v-model="newPassword" placeholder="新密码" ></el-input>
        </div>
    </div>

    <!--确认密码-->
    <div id="u1704" class="ax_default _默认样式">
        <div id="u1704_div" class="">
            <el-input v-model="confirmPassword" placeholder="确认密码"></el-input>
        </div>
    </div>

    <div id="u1698" class="ax_default _默认样式" selectiongroup="按纽组-9">
        <div id="u1698_div" class=""></div>
        <div id="u1698_text" class="text ">
            <p><span>
                <el-button class="dalfBut" @click="confirm()">提交</el-button>
               </span>
            </p>
        </div>
    </div>

    <div id="u1705" class="ax_default _默认样式">
        <div id="u1705_div" class=""></div>
        <div id="u1705_text" class="text ">
            <p><span>账户设置</span></p>
        </div>
    </div>
</div>
</body>

<script src="/resources/js/vue.js"></script>
<script src="/resources/js/axios.js"></script>
<script src="/resources/js/elementui.js"></script>
<script>
    new Vue({
        el: '#base',
        data(){
            return {
                loginName: '',
                oldPassword: '',
                newPassword: '',
                confirmPassword: '',

            }
        },
        created(){
            //this.fetchData();
            //加载并显示当前登录名
            axios.get('/login/name.do').then(response=>{
                this.loginName = response.data.name;
            })
        },
        methods:{
            confirm (){
                if(this.newPassword == this.confirmPassword){
                    axios.post(`/admin/updatePassword.do?loginName=${this.loginName}&oldPassword=${this.oldPassword}&newPassword=${this.newPassword}`).then(response => {
                        alert(response.data.message);
                    });
                }else{
                    alert("新密码和确认密码不一样，请重新输入!")
                }
            }
        }
    })
</script>
</html>
